.form-input {
	/* border: 1px solid black; */
	width: 300px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-input label {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	margin: 5px 0;
}

.form-input input {
	padding: 10px;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	border-radius: 3px;
}
