li {
	display: block;
	width: 750px;
	margin: 10px auto;
	padding: 20px;
	background-color: #fdfbfd;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	border-left: 5px solid #6a68a4;
	border-radius: 10px;
}

li h4 {
	margin: 10px 0;
}

li div {
	color: #48484b;
	font-size: 18px;
}
