ul {
	list-style: none;
}

.todolist {
	width: 350px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: aliceblue;
	border-radius: 5px;
}

.btnDelete {
	padding: 8px;
	width: 90%;
	display: block;
	box-sizing: border-box;
	font-size: 3px;
	background-color: #0a0a23;
	color: #fff;
	border: none;
	border-radius: 50%;
}
