.btn-div {
	width: 300px;
	margin: 30px auto;
}

.btn-div button {
	width: 180px;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background-color: black;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
}
