.add-procuct {
	display: flex;
	flex-direction: row;
	justify-content: right;
	width: 800px;
	margin: 10px auto;
	padding: 10px;
}

.add-procuct button {
	display: block;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	background-color: aliceblue;
	border: none;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
}
